/* App.css */

/* Basic styling for the whole app */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.black-button {
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 10px 20px; /* Padding for a comfortable size */
  font-size: 16px; /* Font size */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  text-decoration: none; /* Remove underline for links */
  cursor: pointer; /* Pointer cursor on hover */
  margin: 5px; /* Add spacing between buttons */
  transition: all 0.3s ease; /* Smooth hover effect */
}

.black-button:hover {
  background-color: #333; /* Slightly lighter black on hover */
  color: #fff; /* Keep text white */
  transform: scale(1.05); /* Slightly enlarge button on hover */
}

/* Main container for the app */
div {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header styling */
h1 {
  text-align: center;
  color: #333;
  font-size: 2.5em;
}

/* Recipe list styling */
ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}

li h2 {
  font-size: 1.8em;
  margin: 0;
}

li p {
  font-size: 1.2em;
  color: #555;
}

/* Form styling */
form {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ddd;
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1em;
}

button {
  background-color: #ff6600;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

button:hover {
  background-color: #e65c00;
}

/* Styling for empty states (when there are no recipes yet) */
ul.empty {
  text-align: center;
  color: #777;
}


.login-container {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}



.error-message {
  color: red;
  margin-top: 10px;
}